/include/ "system-conf.dtsi"

/ {
    chosen {
        bootargs = "earlycon console=ttyPS0,115200 root=/dev/mmcblk0p2 rw rootwait clk_ignore_unused uio_pdrv_genirq.of_id=\"generic-uio\"";
        stdout-path = "serial0:115200n8";
    };

    /* Workaround for AMD/Xilinx fclk management bug */
    fclk0: fclk0 {
        status = "okay";
        compatible = "xlnx,fclk";
        clock-names = "fclk0";
        clocks = <&zynqmp_clk PL0_REF>;
    };
    fclk1: fclk1 {
        status = "okay";
        compatible = "xlnx,fclk";
        clock-names = "fclk1";
        clocks = <&zynqmp_clk PL1_REF>;
    };
    fclk2: fclk2 {
        status = "okay";
        compatible = "xlnx,fclk";
        clock-names = "fclk2";
        clocks = <&zynqmp_clk PL2_REF>;
    };
    fclk3: fclk3 {
        status = "okay";
        compatible = "xlnx,fclk";
        clock-names = "fclk3";
        clocks = <&zynqmp_clk PL3_REF>;
    };

    /* Dual Memory Pools in the reserved-memory node */
    reserved-memory {
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;

        /* * Default System CMA (Low 256MB)
         * This provides a safe 32-bit addressable memory space for legacy
         * IP cores and the FPGA Manager (PCAP), resolving Errno 12.
         */
        sys_cma: linux,cma {
            compatible = "shared-dma-pool";
            reusable;
            size = <0x0 0x10000000>; /* 256MB */
            alloc-ranges = <0x0 0x20000000 0x0 0x60000000>;
            linux,cma-default;
        };

        /* * Dedicated High-Speed Buffer CMA (High 4GB)
         * Stripped of the "linux,cma-default" tag. This pool will sit idly
         * at the 36GB offset until explicitly requested by the ZOCL driver.
         */
        pynq_cma_pool: pynq_cma_pool {
            compatible = "shared-dma-pool";
            reusable;
            size = <0x00000001 0x00000000>; /* 4GB */
            alloc-ranges = <0x00000008 0x00000000 0x00000002 0x00000000>;
        };
    };

    udmabuf0: udmabuf0 {
        compatible = "ikwzm,u-dma-buf";

        /* This property determines the name in /dev/ */
        device-name = "udmabuf0";

        /* 4GB size expressed as two 32-bit cells */
        size = <0x00000001 0x00000000>;

        /* Required to support physical addresses above 4GB */
        dma-mask = <40>;

        memory-region = <&pynq_cma_pool>;
        dma-coherent;
    };
};

&sdhci1 {
    no-1-8-v; /* Standard fix for ZU9/ZU15 level shifters */
    disable-wp;
    disable-cd;
};

&gem3 {
    phy-handle = <&phyc>;
    phyc: phy@c {
        reg = <0xc>;
        ti,rx-internal-delay = <0x8>;
        ti,tx-internal-delay = <0xa>;
        ti,fifo-depth = <0x1>;
        ti,dp83867-rxctrl-strap-quirk;
    };
};


/* --- Enable 40-bit DMA for AXI Bus --- */
&amba {
    #address-cells = <2>;
    #size-cells = <2>;
    /* dma-ranges: <child-bus-addr parent-bus-addr size>
       This allows the bus to access up to 64GB (0x10_0000_0000) of address space */
    dma-ranges = <0x0 0x0 0x0 0x0 0x10 0x00000000>;

    /* * Safely append properties to the ALREADY DEFINED ZOCL node.
    * This overrides or adds to the existing node without causing duplication.
    */
    zyxclmm_drm {
        /* https://adaptivesupport.amd.com/s/article/69446?language=en_US */
        /* dma-coherent; */
        memory-region = <&sys_cma>;
    };
};

